<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<section class="container">
    <div class="login">
        <h1>Войти в базу</h1>
        <!--<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>-->
        <form th:action="@{/login}" method="post">
            <p><input type="text" name="username" value="" placeholder="Логин или Email" required></p>
            <p><input type="password" name="password" value="" placeholder="Пароль" required></p>
            <p class="submit"><input type="submit" name="commit" value="Войти"></p>
        </form>
    </div>
</section>


</body>
</html>